<template>
  <div class="board-btn" @click="$emit('onClicked', value)">
    {{value}}
  </div>
</template>

<script>
export default {
  name: "BoardBtn",
  props: {
    value: String
  }
}
</script>

<style>
  .board-btn {
    width: 100%;
    height: 100%;

    cursor: pointer;

    font-size: 20px;
  }
</style>