<template>
  <div class="board">
    <BoardDisplay :display="currentOperation"/>
    <div class="key-pad">
      <BoardBtn value="1" @onClicked="buildOperation($event)"/>
      <BoardBtn value="2" @onClicked="buildOperation($event)"/>
      <BoardBtn value="3" @onClicked="buildOperation($event)"/>
      <BoardBtn value="4" @onClicked="buildOperation($event)"/>
      <BoardBtn value="+" @onClicked="buildOperation($event)"/>
      <BoardBtn value="=" @onClicked="buildOperation($event)"/>
    </div>
  </div>
</template>

<script>
import BoardDisplay from "@/components/BoardDisplay.vue"
import BoardBtn from "@/components/BoardBtn.vue"

const math = require('mathjs')

export default {
  name: "Board",
  components: {
    BoardDisplay,
    BoardBtn
  },
  data() {
    return {
      currentOperation: "",
    }
  },
  methods: {
    buildOperation(newValue) {
      if(newValue === "=") {
        this.currentOperation = this.calculate().toString()
        return;
      }

      this.currentOperation += newValue
    },
    calculate() {
      console.log("calculate");
      console.log(math.sqrt(-4).toString())
      console.log(math.evaluate('12/(2.3+0.7)'));
      console.log(this.currentOperation)
      console.log(math.evaluate(this.currentOperation));
      if(this.currentOperation.length <= 0) {
        return 0;
      }

      return math.evaluate(this.currentOperation);
    }
  }
}
</script>

<style>

</style>